.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto

slides/*.html
slides/libs/*

# ignore the _files from qmd rendering
code/*_files 

code/*.html

explo*

README.html

data/bike_sharing_demand/*